#eclipse

*/bin/
*.classpath
*.settings/
*.meta/
settings/
*.dmc

#Maven

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*.releaseBackup
*release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

#Gradle

.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/.metadata/
