<settings>
  <profiles>
    <profile>
      <id>deploy-artifactory</id>
      <properties>
        <maven.car.deploy.skip>true</maven.car.deploy.skip>
        <maven.deploy.skip>true</maven.deploy.skip>
        <artifactory.url>${artifactory-url}</artifactory.url>
        <artifactory.username>${artifactory-username}</artifactory.username>
        <artifactory.password>${artifactory-password}</artifactory.password>
        <artifactory.repo.snapshot>cellcard-middleware-snapshots</artifactory.repo.snapshot>
        <artifactory.repo.release>cellcard-middleware-releases</artifactory.repo.release>
        <artifactory.phase>deploy</artifactory.phase>
      </properties>
    </profile>
    <profile>
      <id>deploy-local</id>
      <properties>
        <maven.car.deploy.skip>false</maven.car.deploy.skip>
        <maven.deploy.skip>true</maven.deploy.skip>
        <server.esb.url>https://localhost:9443</server.esb.url>
        <server.esb.username>admin</server.esb.username>
        <server.esb.password>admin</server.esb.password>
        <wso2carbon.username>wso2carbon</wso2carbon.username>
        <wso2carbon.password>wso2carbon</wso2carbon.password>
      </properties>
    </profile>
    <profile>
      <id>deploy-remote</id>
      <properties>
        <maven.car.deploy.skip>false</maven.car.deploy.skip>
        <maven.deploy.skip>true</maven.deploy.skip>
        <server.esb.url>${esb-server-url}</server.esb.url>
        <server.esb.username>${esb-server-username}</server.esb.username>
        <server.esb.password>${esb-server-password}</server.esb.password>
        <wso2carbon.username>${wso2carbon-username}</wso2carbon.username>
        <wso2carbon.password>${wso2carbon-password}</wso2carbon.password>
      </properties>
    </profile>
  </profiles>
</settings>
